ul.my_page_wrapper{
    display: flex;   
    justify-content: center;
    align-items:center;
}
ul.my_page_wrapper li {
    padding:8px 12px;
    margin:2px;
    border:1px solid #ccc;
    list-style-type:none;
    cursor:pointer;
}
ul.my_page_wrapper li.current{
    background-color:dodgerblue
}