html, body{
    height:100%;
    margin:0px;
}
body{
    background-image: url(./sky.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.register{
    width:400px;
    height:300px;
    position: absolute;
    left:50%;
    top:50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.1);
    padding-top:20px;
    border-radius: 10px;;
}
.register label{
    width:80px;
    display: inline-block;
    margin-right:5px;
    text-align: right;
}
.register .password, 
.register .password .confirm_pass,
.register .info .user{
    margin-top:20px;
}
.register .btn{
    margin-top:20px;
    text-align: center;
}

